* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family:'Times New Roman', Times, serif;
    background: #ffffff;
  }
  .conteiner {
    width: 800px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  .header {
    background-color: black;
  }
  .logo {
    font-size: 30px;
  }
  .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
  }
  .header_item {
    display: flex;
    column-gap: 25px;
  }
  .sec {
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 60px;
    color: blue;
    filter: drop-shadow(8px 8px 4px yellow);
  }
  .sec2 {
    height: 100vh;
    background-color: rgb(216, 17, 140);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec3 {
    height: 100vh;
    background-color: rgb(158, 241, 3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sec4 {
    height: 100vh;
    background-color: rgba(241, 3, 3, 0.925);
    display: flex;
    align-items: center;
    justify-content: center;
  }
